[submodule "ansible"]
	path = ansible
	url = https://github.com/ansible/ansible.git
[submodule "ansible-container"]
	path = ansible-container
	url = https://github.com/ansible/ansible-container.git
[submodule "ansible-modules-core"]
	path = ansible-modules-core
	url = http://github.com/ansible/ansible-modules-core.git
