[submodule "ansible.ansible"]
	path = ansible.ansible
	url = https://github.com/ansible/ansible.git
[submodule "ansible.ansible-container"]
	path = ansible.ansible-container
	url = https://github.com/ansible/ansible-container.git
[submodule "ansible.ansible-modules-core"]
	path = ansible.ansible-modules-core
	url = https://github.com/ansible/ansible-modules-core.git
[submodule "ansible.awx"]
	path = ansible.awx
	url = git@github.com:mdrotthoff/ansible.awx.git
